<h1>Log in here.</h1>

<div class="translucent" style="width:30vw;padding:10px;">
    <form action='/auth/login' method='POST'>
        
        <div class="center">
            <label for="email" class="login">Email:</label>
            <input id="email" type='email' name="email" placeholder="email address">
        </div>

        <div class="center">
            <label for="password" class="login">Password:</label>
            <input id="password" type='password' name="password" placeholder="password">
        </div>

        <div class="center">
            <input type='submit' value="Log in" id="login-button">
        </div>
    </form>
</div>