<h1>Log in here.</h1>

<form action='/auth/login' method='POST' class="translucent">
    
    <div class="center">
        <label for="email">Email</label>
        <input id="email" type='email' name="email" value="trisha@pan.com">
    </div>

    <div class="center">
        <label for="password">Password</label>
        <input id="password" type='password' name="password" value="password">
    </div>

    <div class="center">
        <input type='submit' value="Log in">
    </div>
</form>