<h1>Sign up for an account.</h1>

<div class="translucent" style="width:30vw;padding:10px;">
    <form action='/auth/signup' method='POST'>
        <div class="center">
            <label for="name">Name:</label>
            <input id="name" type='text' name="name">
        </div>

        <div class="center">
            <label for="new-email">Email:</label>
            <input id="new-email" type='email' name="email">
        </div>

        <div class="center">
            <label for="new-password">Password:</label>
            <input id="new-password" type='password' name="password">
        </div>

        <div class="center">
            <input type='submit' value="Create new account">    
        </div>
    </form>
</div>