<% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
        <span style="color:white;font-style:italic;"><%= msg %></span>
    <% }) %>
<% } %>

<% if (alerts.success) { %>
    <% alerts.success.forEach(msg => { %>
        <span style="color:white;"><%= msg %></span>
    <% }) %>
<% } %>