<nav>
    <ul class="left">
        <li><a href="/">Home</a></li>
        <% if (currentUser) { %>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/characters">My Characters</a></li>
        <% } %>
        <li><a href="/characters/all">All Characters</a></li>
    </ul>
    <ul class="right">
        <% if (!currentUser) { %>
            <li class="right"><a href='/auth/login'>Log In</a></li>
            <li class="right"><a href='/auth/signup'>Sign Up</a></li>
        <% } else { %>
            <li class="right"><a href='/profile'><%= currentUser.name %>'s Profile</a></li>
            <li class="right"><a href='/auth/logout'>Log Out</a></li>
        <% } %>
    </ul>
</nav>
