<h1>My Goals</h1>

<div class="translucent">
    Text goes here


    <form action='/dashboard/newgoal' method='POST'>
        <label for="characters">Select Character:</label>

        <%# How to create dynamic select form: https://stackoverflow.com/questions/42548641/how-to-get-value-selected-in-dropdown-menu-from-ejs-template-to-server-side-node %>
        <%# data-action-box adds 'Select All' and 'Deselect All' buttons. %>
        <select class="selectpicker" id="characters" name="characters" title="Select which one of your characters for whom you'd like to add a goal." data-live-search="true" data-actions-box="true" data-width="60%">
            <optgroup label="5 Star Characters">
                <% myCharacters.forEach(character => { %>
                    <% if (character.rarity == 5) { %>
                        <option value="<%= character.name %>"> <%= character.name %> </option>
                    <% } %>
                <% }) %>
            </optgroup>
            <optgroup label="4 Star Characters">
                <% myCharacters.forEach(character => { %>
                    <% if (character.rarity == 4) { %>
                        <option value="<%= character.id %>"> <%= character.name %> </option>
                    <% } %>
                <% }) %>
            </optgroup>
        </select>

        <label for="goal">Add Goal:</label>
        <input id="goal" type="textbox" placeholder="Goal notes here." name="goal">

        <input type='submit' value="Add">
    </form>
</div>