<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Genshin Impact Tracker</title>
    <!-- Add favicon (below). https://www.digitalocean.com/community/tutorials/how-to-add-a-favicon-to-your-website-with-html -->
    <link rel="shortcut icon" type="image/png" href="/img/paimonPeek.png"> 
    
</head>

<body class="layout">
    <h1>Layout Header</h1>
    <%- body %>
</body>
</html>