<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Genshin Impact Tracker</title>
    <!-- Add favicon (below). https://www.digitalocean.com/community/tutorials/how-to-add-a-favicon-to-your-website-with-html -->
    <link rel="shortcut icon" type="image/png" href="/img/paimonPeek.png"> 
    
</head>

<body class="layout">
    <header>
        <nav>
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/characters/collected">My Characters</a></li>
                <li><a href="/characters/all">All Characters</a></li>
            </ul>
            <ul class="right">
                <% if (!currentUser) { %>
                <li class="right"><a href='/auth/signup'>Sign Up</a></li>
                <li class="right"><a href='/auth/login'>Log In</a></li>
                <% } else { %>
                <li class="right"><a href='/auth/logout'>Log Out</a></li>
                <li class="right"><a href='/profile'>Profile</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    <%- include('partials/alerts.ejs') %>
    <%- body %>
</body>
</html>