<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title><img src="https://genshin.poporing.life/apple-icon.png">Genshin Impact Tracker</title>
</head>
<!-- <style>
    /* @font-face { font-family: Mermaid; src: url('./Mermaid-FontZillion/Fonts/mermaid1001.ttf'); } */
    /* h1 {
        font-family: Mermaid
    } */
    
</style> -->
<body>
    <h1>Layout Header</h1>
    <%- body %>
</body>
</html>