@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;1,300;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600;700&display=swap");
@font-face {
  font-family: 'Genshin-Font';
  src: url("../HYWenHei 85W.ttf") format("truetype");
}

.dark-teal {
  color: #0f4150;
}

body.layout {
  background-attachment: fixed;
  background-color: #124454;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 112, 130, 0.9)), to(rgba(0, 0, 0, 0.95))), url("../img/genshin_28_4K.jpg");
  background-image: linear-gradient(rgba(54, 112, 130, 0.9), rgba(0, 0, 0, 0.95)), url("../img/genshin_28_4K.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

div.body {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF1A;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 80px;
}

div.translucent {
  background-color: #ffffffaa;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

div.center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Genshin-Font", "Fraunces", sans-serif;
  color: white;
}

h1 {
  font-size: 38px;
}

.big-font {
  font-size: 5vw;
}

text-shadow {
  text-shadow: #FC0 1px 1px 10px !important;
  margin-right: -4px;
}

a img {
  opacity: 1.0;
}

a img:hover {
  opacity: 0.5;
}

ul.characters-container {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.character-tile {
  width: 300px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom {
  position: relative;
  top: 10px;
}

.align-left {
  text-align: left;
}

.inline {
  display: inline;
}

.flexible {
  max-width: 100%;
  height: auto;
}

.border-TR {
  border-top-right-radius: 0px !important;
}

.border-BR {
  border-bottom-right-radius: 0px !important;
}

.border-TL {
  border-top-left-radius: 0px !important;
}

.border-BL {
  border-bottom-left-radius: 0px !important;
}

.login {
  width: 75px;
  display: inline-block;
}

#login-button {
  margin-top: 5px;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal-wrapper {
  border: 2px solid #0f4150 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .5em;
  -ms-flex-item-align: center;
      align-self: center;
}

.goal-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 2px solid #0f4150 !important;
  text-align: center;
  min-width: 225px;
  max-width: 400px;
  width: 35vw;
}

.goal-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style: none;
  width: 35vw;
  min-width: 225px;
  max-width: 400px;
  padding-left: 0;
  padding-right: 0;
}

.li-align-left {
  text-align: left;
}

div.body-width {
  width: 80vw;
}

div.add-note-wrapper {
  margin-top: 15px;
  min-width: 225px;
}

div.top-line-break {
  margin-top: 50px;
  border-top: 2px solid #0f4150;
  padding-top: 50px;
}

span.transparent {
  color: rgba(255, 255, 255, 0);
}

.add-notes {
  width: 59%;
}
/*# sourceMappingURL=main.css.map */