nav { // I want navigation links on left, and auth links on right.
    display: grid;

    ul.left {

    }

    ul.right {

    }

    li {
        display: inline;
        padding: 0px 10px 0px 10px;
    }

    a {
        color: white;
    }
}
