nav { // I want navigation links on left, and auth links on right.
    display: float;
    font-family: Nunito, sans-serif;
    
    // Sticky element.
    position: -webkit-sticky; // Safari.
    position: sticky;
    top: 0;

    ul.left {
        float: left;
    }

    ul.right {
        float: right;
    }

    li {
        background-color: #387283;
        display: inline;
        padding: 0px 10px 0px 10px;
    }

    a {
        color: white;
    }
}