$anemo: #5CD1AE;
$cryo: #79CBE4;
$electro: #7834AD;
$hydro: #438CD0;
$geo: #DDB93B;
$pyro: #E22323;


.Anemo { color: $anemo; }
.Cryo { color: $cryo; }
.Electro { color: $electro; }
.Hydro { color: $hydro; }
.Geo { color: $geo; }
.Pyro { color: $pyro; }
