$anemo: #5CD1AE;
$cryo: #79CBE4;
$electro: #7834AD;
$hydro: #438CD0;
$geo: #DDB93B;
$pyro: #E22323;

form { 
    .anemo { color: $anemo; }
    .cryo { color: $cryo; }
    .electro { color: $electro; }
    .hydro { color: $hydro; }
    .geo { color: $geo; }
    .pyro { color: $pyro; }
} 