<div class="translucent center body-width" style="margin-top:50px">
    
    <div class="center"><h3>404 Page Not Found</h3></div>
    <div>Paimon says,</div>
    <div>"How about we explore the area ahead of us later?"</div>
    <div>
        <img src='/img/paimonLeft.png'>
    </div>
</div>