<div class="translucent center">
    <div>Paimon says,</div>
    <div>"How about we explore the area ahead of us later?"</div>
    <div class="center">404 Page Not Found</div>
    <div>
        <img src='img/paimonLeft.png'>
    </div>


    <div>
        What happens if i have to scroll
        <br>
        asdfasdf
        <br>
        asdfasdf
        asdfasdf

        <br>

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Numquam, a! Dolore quasi officia voluptas molestias expedita voluptate numquam possimus, facere repellat modi id provident quisquam quibusdam voluptatem inventore in reprehenderit.




    </div>
</div>