<div class="translucent center">
    <div>Paimon says,</div>
    <div>"How about we explore the area ahead of us later?"</div>
    <div class="center">404 Page Not Found</div>
    <div class="right">
        <img src='paimonLeft.png'>
    </div>

</div>