<h1>Genshin Impact Character Tracker</h1>
<% if (!currentUser) { %>
<h5>Create an account or log in to take notes on your characters.</h5>
<% } %>

<div class="translucent body-width">
    <p>Welcome to Trisha's <a href="https://github.com/patricia-pan/genshin-impact-character-tracker">Genshin Impact Character Tracker</a>.</p>

    <p>Create an account to add your characters and take notes on them. </p>

    <p>Or, feel free to check out the test account: 
    <br>Email: test@email.com
    <br>Password: test 
    </p>
    
    <p>Reach out to genshin.character.tracker@gmail.com for any comments or inquiries!</p>

    </p><h5 class="dark-teal">My Characters view:</h5>
    <p><em>(Click to view full-sized image)</em></p>
    <a href='/img/screenshots/My_Characters_2021-01-29.png' target="_blank"><img src="/img/screenshots/My_Characters_2021-01-29.png" style="width:80%;opacity:1.0"></a></p>

    </p><h5 class="dark-teal">Character Detail view:</h5>
    <a href='/img/screenshots/Character_View_2021-01-29.png' target="_blank"><img src="/img/screenshots/Character_View_2021-01-29.png" style="width:80%;opacity:1.0"></a></p>

    </p><h5 class="dark-teal">My Goals view:</h5>
    <a href='/img/screenshots/My_Goals_2021-01-29.png' target="_blank"><img src="/img/screenshots/My_Goals_2021-01-29.png" style="width:80%;opacity:1.0"></a></p>

    </p><h5 class="dark-teal">Add Goal view:</h5>
    <a href='/img/screenshots/Add_Goal_2021-01-29.png' target="_blank"><img src="/img/screenshots/Add_Goal_2021-01-29.png" style="width:80%;opacity:1.0"></a></p>

    </p><h5 class="dark-teal">Edit Goals view:</h5>
    <a href='/img/screenshots/Edit_Goals_2021-01-29.png' target="_blank"><img src="/img/screenshots/Edit_Goals_2021-01-29.png" style="width:80%;opacity:1.0"></a></p>

</div>