<h1>Genshin Impact Character Tracker</h1>
<% if (!currentUser) { %>
<h5>Create an account or log in to take notes on your characters.</h5>
<% } %>

<div class="translucent body-width">
    Welcome to Trisha's Genshin Impact Character Tracker.

    Create an account to add your characters
</div>