<h1>My Characters</h1>

<div class="translucent">
    Coming soon!
</div>

<div class="translucent">
    <form action='/characters/new' method='PUT'>
        <label for="characters">Add a Character:</label>

        <input type='submit' value="Add">
    </form>
</div>




<!-- <select class="ui fluid search dropdown" multiple="">
    <option value="">State</option>
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="WI">Wisconsin</option>
    <option value="WY">Wyoming</option>
</select> -->