<h1>My Characters</h1>


<div class="translucent" style="width:80%">
    <ul class="character-container">
    <% myCharacters.forEach(character => { %>
        <%# <li style="list-style-image: url('/img/headshots/ character.name.toLowerCase() .png')"> %>
        <li>
            <div class="character-tile flex-row">
                <img src='/img/headshots/<%= character.name.toLowerCase() %>.png' width='106px'> 
                <%# Form code for delete used to be here. %>
                <form action="/characters/delete/<%= character.id %>/?_method=DELETE" method="POST">
                    
                    <div class="flex-col">
                        <h3 class="<%= character.vision %>"><%= character.name %></h3>
                        <input type="submit" value="Delete" style="width:65px;" class="bottom">
                    </div>
                </form>
            </div>
        </li>
    <% }) %>
    </ul>

    <form action='/characters/new' method='POST'>
        <label for="characters">Add Character(s):</label>

        <%# How to create dynamic select form: https://stackoverflow.com/questions/42548641/how-to-get-value-selected-in-dropdown-menu-from-ejs-template-to-server-side-node %>
        <%# data-action-box adds 'Select All' and 'Deselect All' buttons. %>
        <select class="selectpicker" id="characters" name="characters" title="Search for or select characters." multiple data-live-search="true" data-actions-box="true" data-width="60%" required>
            <optgroup label="5 Star Characters">
                <option value="Albedo"         >Albedo</option>
                <option value="Diluc"          >Diluc</option>
                <option value="Ganyu"          >Ganyu</option>
                <option value="Jean"           >Jean</option>
                <option value="Keqing"         >Keqing</option>
                <option value="Klee"           >Klee</option>
                <option value="Mona"           >Mona</option>
                <option value="Qiqi"           >Qiqi</option>
                <option value="Tartaglia"      >Tartaglia</option>
                <option value="Venti"          >Venti</option>
                <option value="Xiao"           >Xiao</option>
                <option value="Zhongli" title="Zhongli">Zhongli</option>

            </optgroup>
            <optgroup label="4 Star Characters">
                <option value="Amber"    >Amber</option>
                <option value="Barbara"  >Barbara</option>
                <option value="Beidou"   >Beidou</option>
                <option value="Bennett"  >Bennett</option>
                <option value="Chongyun" >Chongyun</option>
                <option value="Diona"    >Diona</option>
                <option value="Fischl"   >Fischl</option>
                <option value="Kaeya"    >Kaeya</option>
                <option value="Lisa"     >Lisa</option>
                <option value="Ningguang">Ningguang</option>
                <option value="Noelle"   >Noelle</option>
                <option value="Razor"    >Razor</option>
                <option value="Sucrose"  >Sucrose</option>
                <option value="Xiangling">Xiangling</option>
                <option value="Xingqiu"  >Xingqiu</option>
                <option value="Xinyan"   >Xinyan</option>              
                <%# If we want this list to be based on the list of all current characters, use 'disabled' within EJS tags to disable something, and it'll either be an empty string or the string 'disabled'. %>
                <%# <option disabled>Ketchup</option> %>
            </optgroup>
        </select>
    
        <input type='submit' value="Add">
    </form>
</div>


